@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="text"], input[type="email"] , input[type="password"] , input[type="number"] ,input[type="textarea"] {

    @apply w-full h-full border my-2 py-2 px-3 rounded-3xl;

    
}
textarea{
    @apply w-full h-full border my-2 py-2 px-3 no-scrollbar rounded-2xl;
}

button.light{
    @apply bg-sky-950 text-white p-2 w-full rounded-3xl mb-60;
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar{
        display:none;
    }
    .no-scrollbar{
        -ms-overflow-style:none;
        scrollbar-width: none;
    }
}

